{
  "realm": "drm",
  "enabled": true,
  "sslRequired": "none",
  "registrationAllowed": false,
  "roles": {
    "realm": [
      { "name": "admin" },
      { "name": "deptmanager" },
      { "name": "employee" }
    ]
  },
  "clients": [
    {
      "clientId": "drm-web",
      "publicClient": true,
      "enabled": true,
      "protocol": "openid-connect",
      "redirectUris": ["http://__APP_HOST__/*"],
      "webOrigins": ["http://__APP_HOST__"],
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": true,
      "attributes": { "post.logout.redirect.uris": "+" }
    }
  ],
  "users": [
    {
      "username": "testuser",
      "enabled": true,
      "email": "testuser@example.com",
      "firstName": "Test",
      "lastName": "User",
      "emailVerified": true,
      "credentials": [
        { "type": "password", "value": "testpass", "temporary": false }
      ],
      "realmRoles": ["employee"]
    },
    {
      "username": "testadmin",
      "enabled": true,
      "email": "testadmin@example.com",
      "firstName": "Test",
      "lastName": "Admin",
      "emailVerified": true,
      "credentials": [
        { "type": "password", "value": "testadminpass", "temporary": false }
      ],
      "realmRoles": ["admin"]
    }
  ]
}
